BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
SpaceBeforeParens: Never

SpacesInParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: false

PointerAlignment: Left
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true